@model TBDName.Models.User

<h1>@Model.Name's Stats</h1>

<p><strong>XP:</strong> @Model.XP</p>
<p><strong>Level:</strong> @Model.Level</p>


<button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Home")'">Back to Home</button>


