@model TBDName.ViewModels.SelectTopicViewModel;

@{
	ViewData["Title"] = "Select a Topic";
}

<h1>Select a Topic</h1>
<p>
	You are playing in <b>
		@(Model.Subdivision != null ? Model.Subdivision.Name : "Federal Level")
	</b> of <b>@Model.Country.Name</b>
</p>

<div class="card-container">
	@foreach(var topic in Model.Topics) 
	{
		
		<div class="card card-topic" onclick="toggleDropdown("@topic.Id")">
			<h2>@topic.Name</h2>
		</div>
		<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level = "1"><button>level 1</button></a>
		<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="2"><button>level 2</button></a>
		<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="3"><button>level 3</button></a>
		<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="4"><button>level 4</button></a>
		<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="5"><button>level 5</button></a>
		<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="6"> <button>Quiz</button></a>
	}
</div>