@model TBDName.ViewModels.SelectLevelViewModel

@{
    ViewData["Title"] = "Select a Level";
}

<link rel="stylesheet" href="~/css/styles.css" />
<h1>Select a Level from @Model.Country.Name</h1>
<div class="level-container">

    @foreach (var Level in Model.Subdivisions)
    {
        <div class="level-button">
        <a class="level-button" href="@Url.Action("SelectTopic", "Home", new { CountryId = Model.Country.Id, LevelId = Level.Id})">
            @Level.Name
            </a>
        </div>
    }
</div>